<ul class="header__social-list gl-xx-mobile-hide">
  <li class="header__social-link-wrapper">
    <a href="video-works-page.html" class="header__social-link" target="_blank">
      Vimeo
    </a>
  </li>
  <li class="header__social-link-wrapper">
    <a href="/" class="header__social-link" target="_blank">
      Instagram
    </a>
  </li>
  <li class="header__social-link-wrapper">
    <a href="/" class="header__social-link" target="_blank">
      Facebook
    </a>
  </li>
</ul>
