<section class="gl-catalog container" id="main-catalog-host">
  <ul class="gl-catalog__list">

    <li class="gl-catalog__item gl-catalog__item--poster-vertical">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-02.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            02
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-03.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            03
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-04.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            04
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-medium">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-06.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            06
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--poster-square">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/catalog/image-inst.jpg" alt="" class="gl-catalog__card-content mod-inst">
          <div class="catalog__card-content-inst">
            <div class="catalog__card-content-inst-title">
              Follow Us on Instagram
            </div>
            <div class="catalog__card-content-inst-value">
              2829
            </div>
          </div>
        </div>
        <div class="gl-catalog__card-title-wrapper no-content"></div>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-07.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            07
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-08.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            08
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--poster-square">
      <a href="/" class="gl-catalog__link-wrapper catalog__link-wrapper">
        <div class="gl-catalog__card-solid-grey catalog__card-facebook-wrapper">
          <img src="img/catalog/facebook.svg" alt="facebook" class="catalog__card-solid-facebook">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          Our Facebook
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--poster-square">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-solid-grey catalog__card-media-wrapper">
          <img src="img/catalog/media-logo.svg" alt="media-logo" class="catalog__card-content-media-logo">
          <div class="catalog__card-content-media-caption">
            Best Moscow based production company
          </div>
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          Press about us
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-09.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            09
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-solid-transparent catalog__card-feather-wrapper">
          <img src="img/catalog/feater.svg" alt="feater" class="catalog__card-content-feather-image">
        </div>
        <div class="gl-catalog__card-title-wrapper no-content"></div>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-11.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            11
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-medium">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-12.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            12
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--poster-square">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-13.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            13
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-small">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-14.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            14
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>

    <li class="gl-catalog__item gl-catalog__item--video-large">
      <a href="/" class="gl-catalog__link-wrapper">
        <div class="gl-catalog__card-image-wrapper">
          <img src="img/common/image-15.jpg" alt="" class="gl-catalog__card-content mod-image">
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            15
          </span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </a>
    </li>
  </ul>
</section>
