<header class="header container" id="header-host">
  <a href="/" class="header__logo-wrapper">
    <img src="img/header/logo.svg" alt="logo" class="header__logo">
  </a>

  <ul class="header__links-list">
    <li class="header__link-wrapper">
      <a href="talents-list-page.html" class="header__link" >
        Talents
      </a>
    </li>
    <li class="header__link-wrapper">
      <a href="" class="header__link">
        Branded
      </a>
    </li>
    <li class="header__link-wrapper">
      <a href="" class="header__link">
        Music video
      </a>
    </li>
    <li class="header__link-wrapper">
      <a href="" class="header__link">
        Film
      </a>
    </li>
  </ul>

  <div class="header__contacts-wrapper gl-sm-tablet-hide">
    <a href="tel:+79061234727" class="header__contacts-tel">
      +7 906 1234 727
    </a>
    <a href="contacts-page.html" class="header__contacts-link">
      Contacts
    </a>
  </div>
</header>
