<footer class="footer container" id="footer-host">
  <ul class="footer__social-list">
    <li class="footer__social-link-wrapper">
      <a href="/" class="footer__social-link" target="_blank">
        Vimeo
      </a>
    </li>
    <li class="footer__social-link-wrapper">
      <a href="/" class="footer__social-link" target="_blank">
        Instagram
      </a>
    </li>
    <li class="footer__social-link-wrapper">
      <a href="/" class="footer__social-link" target="_blank">
        Facebook
      </a>
    </li>
  </ul>

  <a href="tel:+79061234727" class="footer__tel">
    +7 906 1234 727
  </a>

  <div class="footer__company-wrapper">
    <div class="footer__company">
      Design and Development
    </div>
  </div>
</footer>
