<section class="talent container" id="talent-host">
  <div class="talent__description-wrapper">
    <div class="talent__description-name-wrapper">
      <div class="talent__description-name">
        Rinat Tyukmaev
      </div>
      <div class="talent__description-role">
        Director
      </div>
    </div>

    <div class="talent__description-text">
      Director and Photographer Rinat Tyukmaev makes work that evokes emotion at the very core. His ability to connect
      with and capture the human condition defines his award-winning storytelling. An eye for the physicality of dance
      and sport adds the perfect layer to his commercial work.
    </div>

    <img src="img/talent/photo-1.jpg" alt="photo" class="talent__description-photo">
  </div>

  <div class="gl-catalog">
    <ul class="gl-catalog__list">
      <li class="gl-catalog__item gl-catalog__item--row-9 gl-catalog__item--col-3">
        <a href="/" class="gl-catalog__link-wrapper">
          <div class="gl-catalog__card-image-wrapper">
            <img src="img/talent/image-06.jpg" alt="" class="gl-catalog__card-content mod-image">
          </div>
          <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            06
          </span>
            <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
          </h3>
        </a>
      </li>

      <li class="gl-catalog__item">
        <a href="/" class="gl-catalog__link-wrapper">
          <div class="gl-catalog__card-image-wrapper">
            <img src="img/talent/image-07.jpg" alt="" class="gl-catalog__card-content mod-image">
          </div>
          <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            07
          </span>
            <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
          </h3>
        </a>
      </li>

      <li class="gl-catalog__item gl-catalog__item--row-6 gl-catalog__item--col-2">
        <a href="/" class="gl-catalog__link-wrapper">
          <div class="gl-catalog__card-image-wrapper">
            <img src="img/talent/image-08.jpg" alt="" class="gl-catalog__card-content mod-image">
          </div>
          <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number">
            08
          </span>
            <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
          </h3>
        </a>
      </li>
    </ul>
  </div>
</section>
