<section class="talent container" id="talent-host">
  <div class="gl-personal-page-content">
    <div class="gl-personal-page-name-wrapper gl-personal-page-item">
      <div class="gl-title">
        Rinat Tyukmaev
      </div>
      <div class="gl-caption">
        Director
      </div>
    </div>

    <div class="gl-main-text gl-personal-page-item">
      Director and Photographer Rinat Tyukmaev makes work that evokes emotion at the very core. His ability to connect
      with and capture the human condition defines his award-winning storytelling. An eye for the physicality of dance
      and sport adds the perfect layer to his commercial work.
    </div>

    <img src="img/talent/photo-1.jpg" alt="photo" class="gl-personal-page-photo talent__description-photo gl-personal-page-item">
  </div>

  <div class="gl-catalog">
    <ul class="gl-catalog__list">
      <li class="gl-catalog__item gl-catalog__item--video-large">
        <div class="gl-catalog__card-media-wrapper gl-catalog__content">

          <!-- fixme vimeo-->
          <div data-plyr-provider="vimeo"
               data-plyr-embed-id="https://player.vimeo.com/video/584985260?h=4cd90bc17c"
               class="gl-catalog__card-video">
          </div>
          <!-- fixme vimeo-->
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number"></span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </li>
      <li class="gl-catalog__item gl-catalog__item--video-small">
        <div class="gl-catalog__card-media-wrapper gl-catalog__content">
          <!-- fixme vimeo-->
          <div data-plyr-provider="vimeo"
               data-plyr-embed-id="https://player.vimeo.com/video/584985260?h=4cd90bc17c"
               class="gl-catalog__card-video">
          </div>
          <!-- fixme vimeo-->
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number"></span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </li>
      <li class="gl-catalog__item gl-catalog__item--video-small">
        <div class="gl-catalog__card-media-wrapper gl-catalog__content">
          <!-- fixme MP4-->
          <video id="player" playsinline controls class="gl-catalog__card-video">
            <source src="assets/mp4/video-2.mp4" type="video/mp4"/>
          </video>
          <!-- fixme MP4-->
        </div>
        <h3 class="gl-catalog__card-title-wrapper">
          <span class="gl-catalog__card-title-number"></span>
          <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
        </h3>
      </li>
    </ul>
  </div>
</section>
