<section class="catalog">
  <div class="container">
    <ul class="catalog__list">
      <li class="catalog__list-item catalog__list-item--700">
        <a href="#" class="catalog__card" style="background-color: magenta;">
          <div class="catalog__card-image-container">
            <img src="img/test/boy.jpg" alt="" class="catalog__card-image">
          </div>
          <h3 class="catalog__card-title">
            Unlimint  Ready<br> for tomorrow
          </h3>
        </a>
      </li>

      <li class="catalog__list-item catalog__list-item--300">
        <a href="#" class="catalog__card" style="background-color: tomato;">

        </a>
      </li>
      <li class="catalog__list-item catalog__list-item--300">
        <a href="#" class="catalog__card" style="background-color: lightblue;">

        </a>
      </li>
      <li class="catalog__list-item catalog__list-item--600 catalog__list-item--2-col">
        <a href="#" class="catalog__card" style="background-color: yellowgreen;">

        </a>
      </li>
      <li class="catalog__list-item catalog__list-item--500">
        <a href="#" class="catalog__card" style="background-color: orangered;">

        </a>
      </li>
      <li class="catalog__list-item catalog__list-item--700">
        <a href="#" class="catalog__card" style="background-color: magenta;">

        </a>
      </li>

      <li class="catalog__list-item catalog__list-item--500">
        <a href="#" class="catalog__card" style="background-color: orangered;">

        </a>
      </li>
      </li>

      <li class="catalog__list-item catalog__list-item--500">
        <a href="#" class="catalog__card" style="background-color: orangered;">

        </a>
      </li>

      <li class="catalog__list-item catalog__list-item--600 catalog__list-item--2-col">
        <a href="#" class="catalog__card" style="background-color: yellowgreen;">

        </a>
      </li>
    </ul>
  </div>
</section>
