<section class="contacts container" id="contacts">
  <div class="contacts__block-wrapper">
    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Address
      </div>
      <div class="gl-value">
        <a href="https://yandex.ru/maps/213/moscow/house/prospekt_mira_33k1/Z04YcARiSUwPQFtvfXt5cX9ibQ==/?ll=37.632098%2C55.780320&z=17.09"
           target="_blank">
          Russia, Moscow, Mira Avenue, 33/1
        </a>
      </div>
    </div>
  </div>

  <div class="contacts__block-wrapper">
    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Phone
      </div>
      <div class="gl-value">
        <a href="tel:+79061234727">
          +7 (906) 1234 727
        </a>
      </div>
    </div>

    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Social
      </div>
      <div class="gl-value">
        <a href="#" target="_blank">Vimeo</a>
        <a href="#" target="_blank">Facebook</a>
        <a href="#" target="_blank">Instagram</a>
      </div>
    </div>
  </div>

  <div class="contacts__block-wrapper">
    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Head of production
      </div>
      <div class="gl-value mod-small">
        <a href="mailto:: product@spot.film">
          product@spot.film
        </a>
      </div>
    </div>

    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Executive producer
      </div>
      <div class="gl-value mod-small">
        <a href="mailto:: product@spot.film">
          marizov@spot.film
        </a>
      </div>
    </div>

    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        New business
      </div>
      <div class="gl-value mod-small">
        <a href="mailto:: product@spot.film">
          business@spot.film
        </a>
      </div>
    </div>

    <div class="contacts__item-wrapper">
      <div class="gl-caption">
        Talent booking
      </div>
      <div class="gl-value mod-small">
        <a href="mailto:: product@spot.film">
          talent@spot.film
        </a>
      </div>
    </div>
  </div>
</section>
