<header class="header container" id="header-host">
  <a href="/spot/build" class="header__logo-wrapper">
    <img src="img/header/logo.svg" alt="logo" class="header__logo">
  </a>

  <div class="header__menu-wrapper">
    <ul class="header__controls-list">
      <li class="header__control-wrapper">
        <a href="talents-list-page.html" class="header__control mod-link
        {{#if isTalentPage}}mod-active{{/if}}
          {{#if isTalentsListPage}}mod-active{{/if}}">
          Talents
        </a>
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="branded">
            Branded
          </button>
        {{else}}
          <a href="/spot/build/?sort=branded" class="header__control header__sort-btn">
            Branded
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="music">
            Music video
          </button>
        {{else}}
          <a href="/spot/build/?sort=music" class="header__control header__sort-btn">
            Music video
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper">
        {{#if isMainPage}}
          <button class="header__control header__sort-btn" value="film">
            Film
          </button>
        {{else}}
          <a href="/spot/build/?sort=film" class="header__control header__sort-btn">
            Film
          </a>
        {{/if}}
      </li>
      <li class="header__control-wrapper gl-sm-tablet-show">
        <a href="contacts-page.html" class="header__control {{#if isContactsPage}}mod-active{{/if}}">
          Contacts
        </a>
      </li>
    </ul>

    <ul class="header__social-list gl-xx-mobile-hide">
      <li class="header__social-link-wrapper">
        <a href="video-works-page.html" class="header__social-link" target="_blank">
          Vimeo
        </a>
      </li>
      <li class="header__social-link-wrapper">
        <a href="/" class="header__social-link" target="_blank">
          Instagram
        </a>
      </li>
      <li class="header__social-link-wrapper">
        <a href="/" class="header__social-link" target="_blank">
          Facebook
        </a>
      </li>
    </ul>
  </div>

  <div class="header__burger-wrapper mod-show">
    <button class="header__burger gl-sm-tablet-show"></button>
  </div>

  <button class="button header__close-btn gl-sm-tablet-show">
    <img src="img/header/close.svg" alt="" class="header__close-icon">
  </button>

  <div class="header__contacts-wrapper gl-sm-tablet-hide">
    <a href="tel:+79061234727" class="header__contacts-tel">
      +7 906 1234 727
    </a>
    <a href="contacts-page.html" class="header__contacts-link">
      Contacts
    </a>
  </div>
</header>
