<section class="video-films container" id="video-films-host">
  <div class="gl-personal-page-content">
    <div class="gl-personal-page-name-wrapper gl-personal-page-item">
      <div class="gl-title">
        Unlimint Ready for tomorrow
      </div>
      <div class="video-films__item-name">
        <div class="gl-caption">Director</div>
        <div class="gl-value">Angelina Jolie</div>
      </div>
      <div class="video-films__item-name">
        <div class="gl-caption">Operator</div>
        <div class="gl-value">Vlad Fishez</div>
      </div>
    </div>

    <div class="gl-main-text gl-personal-page-item">
      The near future - young adults without Soviet past are slowly rising to power. A forward-thinking urbanist who is
      a bar enthusiast and a cycle lover becomes the prefect of one of the
      Moscow districts. He wants Moscow to be one of the most
      progressive and modern cities but can he really change something? Will he become part of the system or break it?
      The film shows us
      one challenging day in the life of the new administrative official.
    </div>

    <img src="img/video-films/label.jpg" alt="photo"
         class="gl-personal-page-photo video-films__description-photo gl-personal-page-item">
  </div>

  <div data-plyr-provider="vimeo"
       data-plyr-embed-id="https://vimeo.com/584886307"
       class="gl-catalog__card-video">
  </div>
</section>
