<section class="talents container" id="talents-list-host">
  <div class="talents__content">
    <div class="talents__block-wrapper">
      <div class="talents__title">
        Directors
      </div>
      <ul class="talents__list">
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Rinat Tyukmaev
          </a>
          <img src="img/talents/photo-1.jpg" alt="photo-1" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Emily Ratajkowski
          </a>
          <img src="img/talents/photo-2.jpg" alt="photo-2" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Marshall Mathers
          </a>
          <img src="img/talents/photo-3.jpg" alt="photo-3" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Steve Jobs
          </a>
          <img src="img/talents/photo-4.jpg" alt="photo-4" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Alexander Mcqueen
          </a>
          <img src="img/talents/photo-5.jpg" alt="photo-5" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Angelina Jolie
          </a>
          <img src="img/talents/photo-6.jpg" alt="photo-6" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Christina Aguilera
          </a>
          <img src="img/talents/photo-7.jpg" alt="photo-7" class="talents__item-photo">
        </li>
      </ul>
    </div>

    <div class="talents__block-wrapper">
      <div class="talents__title">
        Operators
      </div>
      <ul class="talents__list">
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            James Gunn
          </a>
          <img src="img/talents/photo-8.jpg" alt="photo-8" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Ilya Naishuller
          </a>
          <img src="img/talents/photo-1.jpg" alt="photo-1" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            Marlon Brando
          </a>
          <img src="img/talents/photo-2.jpg" alt="photo-2" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            ...
          </a>
          <img src="img/talents/photo-3.jpg" alt="photo-3" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            ...
          </a>
          <img src="img/talents/photo-4.jpg" alt="photo-4" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            ...
          </a>
          <img src="img/talents/photo-5.jpg" alt="photo-5" class="talents__item-photo">
        </li>
        <li class="talents__item-wrapper">
          <a href="#" class="talents__item-link">
            ...
          </a>
          <img src="img/talents/photo-6.jpg" alt="photo-6" class="talents__item-photo">
        </li>
      </ul>
    </div>
  </div>
</section>
