<div class="modal" id="modal-host">
  <div class="modal__container js-modal-container">
    <div class="modal__content js-modal-content">
      <div class="modal__title js-title"></div>
      <div class="modal__close-btn-wrapper">
        <button type="button" class="modal__close-btn js-btn-close"></button>
      </div>
    </div>
  </div>
</div>
