{{#extend "layout"}}
  {{#content "main"}}

    <section class="gl-catalog container" id="main-catalog-host-3">
      <ul class="gl-catalog__list">

        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper catalog__link-wrapper">
            <div class="gl-catalog__card-solid-grey catalog__card-facebook-wrapper gl-catalog__content">
              <img src="img/catalog/facebook.svg" alt="facebook" class="catalog__card-solid-facebook">
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              Our Facebook
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-solid-grey catalog__card-meduza-wrapper gl-catalog__content">
              <img src="img/catalog/meduza-logo.svg" alt="meduza-logo" class="catalog__card-content-meduza-logo">
              <div class="catalog__card-content-meduza-caption">
                Best Moscow based production company
              </div>
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              Press about us
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-medium">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme vimeo-->
              <div data-plyr-provider="vimeo"
                   data-plyr-embed-id="https://player.vimeo.com/video/584985260?h=4cd90bc17c"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme vimeo-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">

              <!-- fixme vimeo-->
              <div data-plyr-provider="vimeo"
                   data-plyr-embed-id="https://player.vimeo.com/video/584985260?h=4cd90bc17c"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme vimeo-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <img src="img/catalog/image-inst.jpg" alt="" class="gl-catalog__card-content mod-inst">
              <div class="catalog__card-content-inst">
                <div class="catalog__card-content-inst-title">
                  Follow Us on Instagram
                </div>
                <div class="catalog__card-content-inst-value">
                  2829
                </div>
              </div>
            </div>
            <div class="gl-catalog__card-title-wrapper no-content"></div>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme MP4-->
              <video id="player" playsinline controls class="gl-catalog__card-video">
                <source src="assets/mp4/video-2.mp4" type="video/mp4"/>
              </video>
              <!-- fixme MP4-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--poster-vertical">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <img src="img/common/image-02.jpg" alt="" class="gl-catalog__card-content mod-image">
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme youtube-->
              <div data-plyr-provider="youtube"
                   data-plyr-embed-id="https://www.youtube.com/embed/V8z9sMC_omo"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme youtube-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-large">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme youtube-->
              <div data-plyr-provider="youtube"
                   data-plyr-embed-id="https://www.youtube.com/embed/V8z9sMC_omo"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme youtube-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme youtube-->
              <div data-plyr-provider="youtube"
                   data-plyr-embed-id="https://www.youtube.com/embed/V8z9sMC_omo"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme youtube-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-solid-transparent catalog__card-feather-wrapper gl-catalog__content">
              <img src="img/catalog/feater.svg" alt="feater" class="catalog__card-content-feather-image">
            </div>
            <div class="gl-catalog__card-title-wrapper no-content"></div>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme MP4-->
              <video id="player" playsinline controls class="gl-catalog__card-video">
                <source src="assets/mp4/video-2.mp4" type="video/mp4"/>
              </video>
              <!-- fixme MP4-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme MP4-->
              <video id="player" playsinline controls class="gl-catalog__card-video">
                <source src="assets/mp4/video-2.mp4" type="video/mp4"/>
              </video>
              <!-- fixme MP4-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-small">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <!-- fixme MP4-->
              <video id="player" playsinline controls class="gl-catalog__card-video">
                <source src="assets/mp4/video-2.mp4" type="video/mp4"/>
              </video>
              <!-- fixme MP4-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--video-medium">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">

              <!-- fixme vimeo-->
              <div data-plyr-provider="vimeo"
                   data-plyr-embed-id="https://player.vimeo.com/video/584985260?h=4cd90bc17c"
                   class="gl-catalog__card-video">
              </div>
              <!-- fixme vimeo-->
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>

        <li class="gl-catalog__item gl-catalog__item--poster-square">
          <a href="talent-page.html" class="gl-catalog__link-wrapper">
            <div class="gl-catalog__card-media-wrapper gl-catalog__content">
              <img src="img/common/image-13.jpg" alt="" class="gl-catalog__card-content mod-image">
            </div>
            <h3 class="gl-catalog__card-title-wrapper">
              <span class="gl-catalog__card-title-number"></span>
              <span class="gl-catalog__card-title-content">
            <b class="gl-catalog__mark">Unlimint</b> Ready for tomorrow
          </span>
            </h3>
          </a>
        </li>
      </ul>
    </section>
  {{/content}}
{{/extend}}
