.header {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 1.8rem;
  margin-bottom: 1rem;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 2fr 3fr;
  }

  @include breakpoint(small-tablet) {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
  }
}

.header__left-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__link-prev {
  font-size: 1.4rem;
  line-height: 1.6rem;
  padding: 1.6rem;
  margin: -1.6rem;
  color: rgba(250, 250, 250, .6) !important;
  margin-top: 1.6rem;
  display: flex;
  align-items: center;
  transition: color 250ms;

  &:hover {
    text-decoration: none;
    color: #fff !important;

    .header__link-prev-icon {
      fill: #fff;
    }
  }
}

.header__link-prev-icon {
  height: 1.6rem;
  fill: rgba(250, 250, 250, .6);
  transition: fill 250ms;
  margin-right: .4rem;
}

.header__logo-wrapper {
  height: min-content;
}

.header__logo {
  height: 3.6rem;
}

.header__menu-wrapper {
  display: flex;
  justify-content: space-between;

  @include breakpoint(small-tablet) {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s;
  }

  &.mod-show {
    max-height: 18rem;
  }
}

.header__controls-list {
  margin-right: 2rem;

  @include breakpoint(xx-mobile) {
    margin-right: 0;
  }
}

.header__control-wrapper {
  width: 100%;
  overflow: hidden;
}

.header__control {
  font-size: 3.6rem;
  line-height: 4.2rem;
  position: relative;
  transition: opacity 300ms;
  opacity: 1;
  white-space: nowrap;

  @include breakpoint(tablet) {
    font-size: 2.8rem;
    line-height: 3.6rem;

    & + & {
      margin-top: .4rem;
    }
  }

  &:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 100%;
    height: .8rem;
    background-image: url('../img/header/line.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    transition: clip-path 150ms ease-in;
  }

  &.no-hover, &.mod-no-active, &:not(.mod-active) {
    opacity: 0.4;

    &:before {
      clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
  }

  &:hover, &.mod-active {
    text-decoration: initial;
    opacity: 1;

    &:before {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      transition: clip-path 250ms ease-out;
    }
  }
}

.header___left-block {
  display: flex;
  justify-content: space-between;
}

.header__social-list {
  margin-top: 1rem;
}

.header__social-link-wrapper {
  & + & {
    margin-top: 2rem;
  }
}

.header__social-link {
  padding: 1rem;
  font-size: 1.6rem;
  line-height: 1.8rem;
}

.header__tel {
  padding: 1rem;
  margin: -1rem;
}

.header__contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header__contacts-tel {
  font-weight: bold;
  line-height: initial;
  padding: 1.6rem;
  margin-top: -1.6rem;
  margin-right: -1.6rem;
  margin-bottom: -.2rem;
  display: block;
}

.header__contacts-link {
  padding: 1.6rem;
  margin-top: -1.6rem;
  margin-right: -1.6rem;
  display: block;
}

.header__burger-wrapper {
  display: flex;
  align-items: flex-start;
}

.header__burger {
  width: 40px;
  height: 40px;
  margin-right: -5px;
  position: relative;

  &:after, &:before {
    position: absolute;
    content: '';
    right: 5px;
    height: 2px;
    background-color: #fff;
    border-radius: 26%;
    transition: transform 0.8s;
    -webkit-transition: -webkit-transform .7s, top .7s, width .7s;
  }

  &:after {
    top: 15px;
    width: 30px;
  }

  &:before {
    width: 20px;
    bottom: 15px;
  }

  &.mod-close-btn {
    &:after {
      transform: translateY(0px) rotate(-45deg);
      -webkit-transform: translateY(0px) rotate(-45deg);
    }

    &:before {
      transform: translateY(0px) rotate(45deg);
      -webkit-transform: translateY(0px) rotate(45deg);
    }

    &:after, &:before {
      top: 50%;
      width: 30px;

      @include breakpoint(small-mobile) {
        width: 24px;
      }
    }
  }
}
