.video-works {
  padding-top: 60px;
  padding-bottom: 60px;

  @include breakpoint(small-tablet) {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.video-works__title-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include breakpoint(small-tablet) {
    display: flex;
    justify-content: center;
  }
}

.video-works__title {
  grid-column: 2 / 4;
  margin-bottom: 6px;

  @include breakpoint(small-tablet) {
   text-align: center;
  }
}

.gl-catalog__card-video {
  width: 100%;
}

.video-works__description-wrapper {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 16px;

  @include breakpoint(small-tablet) {
    display: flex;
    justify-content: center;
  }
}

.video-works__description-list {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 40px;

  @include breakpoint(small-tablet) {
    grid-gap: 20px;
  }
}
