.footer {
  display: grid;
  align-items: center;
  height: 8.4rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));

  @include breakpoint(tablet) {
    display: flex;
    justify-content: space-between;
  }

  @include breakpoint(mobile) {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1.4rem;
    height: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.footer__social-list {
  display: flex;
  align-items: center;
  margin: 0 -1rem;
}

.footer__social-link {
  padding: 1rem;
}

.footer__tel {
  padding: 1rem;
  margin: -1rem;
}

.footer__company-wrapper {
  display: flex;
  justify-content: flex-end;

  @include breakpoint(mobile) {
    justify-content: flex-start;
  }
}
