body {
  &.no-touch {
    .talents {
      padding-bottom: 22rem !important;
      margin-bottom: -7rem;
    }
  }
}

.talents {
  padding-top: 13rem;
  margin-top: -7rem;
  padding-bottom: 6rem;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  position: relative;
}

.talents__content {
  grid-column-start: 2;
  grid-column-end: 4;

  @include breakpoint(laptop) {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.talents__block-wrapper {
  & + & {
    margin-top: 6rem;
  }
}

.talents__title {
  font-size: 2.6rem;
  line-height: 3rem;
  margin-bottom: 2.4rem;
}

.talents__item-wrapper {
  height: 8rem;

  @include breakpoint(laptop) {
    height: auto;
    padding: 1rem 0;
  }

  @include breakpoint(small-mobile) {
    padding: .6rem 0;
  }
}

.talents__list {
  margin: -1rem 0;
}

.talents__item-link {
  font-size: 5.6rem;
  line-height: 6rem;
  transition: opacity 300ms;
  height: 100%;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: none;

    .talents__item-link {
      opacity: 1;
      text-decoration: initial;
    }

    + .talents__item-photo {
      right: 0;
      transform: translateY(-50%) rotate(-6.33deg);
      opacity: 1;
      z-index: -1;
    }
  }

  &.no-hover {
    opacity: 0.4;
  }

  @include breakpoint(desktop) {
    font-size: 4.6rem;
    line-height: 5rem;
  }

  @include breakpoint(small-mobile) {
    font-size: 2.6rem;
    line-height: 3rem;
  }
}

.talents__item-photo {
  position: absolute;
  top: 0;
  right: -100%;
  width: 36.6rem;
  height: 36.6rem;
  object-fit: cover;
  z-index: -1;
  opacity: 0;
  transition: transform 600ms, right 600ms, top 600ms, opacity 1s;
  transform: rotate(43deg);
}

.talents__pseudo-link {
  position: absolute;
}
