@font-face {
    font-family: 'Courier-New';
    src: url('../assets/fonts/subset-CourierNewPSMT.woff2') format('woff2'),
    url('../assets/fonts/subset-CourierNewPSMT.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
