@font-face {
    font-family: 'Courier-New';
    src: url('../assets/fonts/Courier-New.woff2') format('woff2'),
    url('../assets/fonts/Courier-New.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Courier-New';
    src: url('../assets/fonts/Courier-New-Bold.woff2') format('woff2'),
    url('../assets/fonts/Courier-New-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
