.gl-catalog {
  @include breakpoint(mobile) {
    margin-bottom: 10px;
  }
}

.gl-catalog__list {
  margin-bottom: -20px;

  @include breakpoint(small-mobile) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.gl-catalog__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.gl-catalog__link-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--main-color);

  &:hover {
    text-decoration: initial;

    .gl-catalog__card-content {
      width: 120%;
      height: 120%;
    }
  }
}

.gl-catalog__card-image-wrapper {
  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow: hidden;
}

.gl-catalog__card-solid-grey {
  background-color: #141414;
  height: 100%;
}

.gl-catalog__card-solid-transparent {
  background-color: transparent;
  height: 100%;
}

.gl-catalog__card-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: width 1s, height 1s;

  &.mod-inst {
    opacity: 0.2;
  }
}

.gl-catalog__card-title-wrapper {
  padding-top: 12px;
  display: flex;

  &.no-content {
    height: 16px; // 16px line-height обычного шрифта
    box-sizing: content-box;
  }
}

.gl-catalog__card-title-number {
  margin-right: 10px;
}

.gl-catalog__mark {
  font-weight: bold;
}

.gl-catalog__card-title {
  font-size: 18px;
  padding: 50px 0;
  font-weight: 400;
}
