.gl-catalog {
    @include breakpoint(mobile) {
        margin-bottom: 1rem;
    }
}

.gl-catalog__content {
    height: min-content;
    display: flex;
    align-items: center;

    .plyr {
        width: 100%;
    }
}

.gl-catalog__list {
    margin-bottom: -2rem;

    @include breakpoint(small-mobile) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.gl-catalog__item {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    height: min-content;
    transition: opacity 700ms;
    cursor: pointer;

    &.mod-anim-hide {
        opacity: 0;
    }

    &.mod-hide {
        display: none;
    }
}

.gl-catalog__link-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    color: var(--main-color);

    &:hover {
        text-decoration: initial;

        .gl-catalog__card-content {
            width: 120%;
            height: 120%;
        }
    }
}

.gl-catalog__card-media-wrapper {
    position: relative;
    height: 100%;
    flex-grow: 1;
    overflow: hidden;
}

.gl-catalog__card-solid-grey {
    background-color: #000;
    height: 100%;
}

.gl-catalog__card-solid-transparent {
    background-color: transparent;
    height: 100%;
}

.gl-catalog__card-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 1s, height 1s;

    &.mod-inst {
        opacity: 0.2;
    }
}

.wrapp {
    width: 100%;
    height: 100%;
}

.gl-catalog__card-video {
    width: 100%;
    height: 100%;
}
.gl-catalog__card-video-preview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gl-catalog__card-video-wrapper {
    width: 100%;
    transition: opacity 0.4s;
    pointer-events: none;
    opacity: 0;

    &.active {
        opacity: 1;
    }

    & > * {
        pointer-events: all;
    }
}

.gl-catalog__card-video-loader {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(black, 0.85);
    transition: opacity 0.4s;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    span {
        width: 1rem;
        height: 1rem;
        background-color: #fff;
        border-radius: 50%;
        animation-name: dots;
        animation-iteration-count: infinite;
        animation-duration: .8s;
        &:nth-child(1) {
        }
        &:nth-child(2) {
            width: 1.5rem;
            height: 1.5rem;
            animation-delay: 0.1s;
        }
        &:nth-child(3) {
            animation-delay: .2s;
        }
    }
    &.active {
        opacity: 1;
    }
}

@keyframes dots {
    0% {
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        opacity: 0;
    }

    100% {
      opacity: 0;
    }
}

.gl-catalog__card-title-wrapper {
    padding-top: 1.2rem;
    display: flex;
    justify-content: space-between;

    &.no-content {
        height: 1.6rem; // 1.6rem line-height обычного шрифта
        box-sizing: content-box;
    }
}

.gl-catalog__card-title-main-content {
    display: flex;
}

.gl-catalog__card-title-mark {
    font-size: 1.4rem;
    line-height: 1.6rem;
    letter-spacing: -0.06em;
    padding: 0 1rem;
    border: 1px solid rgba(250, 250, 250, 0.5);
    border-radius: 10px;
}

.gl-catalog__card-title-number {
    margin-right: 1rem;
}

.gl-catalog__card-title-text {
    color: rgba(250, 250, 250, 0.8);
    .mark {
        font-weight: bold;
        color: #fff;
        margin-right: 0.8rem;
    }
}

.gl-catalog__card-title {
    font-size: 1.8rem;
    padding: 5rem 0;
    font-weight: 400;
}
